**/**
!service/config
!service/src
!service/build.gradle
!service/settings.gradle
!e2e-tests/src
!e2e-tests/build.gradle
!e2e-tests/run.sh
!mock-mhs-adaptor/src
!mock-mhs-adaptor/build.gradle
!mock-mhs-adaptor/settings.gradle