<code{{#nullFlavor}} nullFlavor="UNK"{{/nullFlavor}}{{^nullFlavor}} code="{{mainCode}}" codeSystem="{{mainCodeSystem}}" displayName="{{mainDisplayName}}"{{/nullFlavor}}>
    {{#mainOriginalText}}
    <originalText>{{mainOriginalText}}</originalText>
    {{/mainOriginalText}}
    {{#codes}}
    <translation code="{{translationCode}}" codeSystem="{{translationCodeSystem}}" displayName="{{translationDisplayName}}" />
    {{/codes}}
</code>