<component typeCode="COMP" contextConductionInd="true">
    <NarrativeStatement classCode="OBS" moodCode="EVN">
        <id root="{{narrativeStatementObservationId}}"/> <!-- The narrative statement IDs for a single observation are the same? -->
        <text mediaType="text/x-h7uk-pmip">CommentType:{{commentType}} <!-- LABORATORY RESULT COMMENT(E141) or USER COMMENT -->
            CommentDate:{{observationIssuedDate}}

            {{observationComment}}</text>
        <statusCode code="COMPLETE"/>
        <availabilityTime value="{{observationIssuedDate}}"/> <!-- Is this correct? -->
    </NarrativeStatement>
</component>
