<referenceRange typeCode="REFV">
    <referenceInterpretationRange classCode="OBS" moodCode="EVN.CRT">
        <text>{{text}}</text>
        <value>{{{value}}}</value>
    </referenceInterpretationRange>
</referenceRange>
