<component typeCode="COMP"{{#isNested}} contextConductionInd="true"{{/isNested}}>
    <CompoundStatement classCode="BATTERY" moodCode="EVN">
        <id root="{{id}}"/>
        {{{compoundStatementCode}}}
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{availabilityTime}}}
        {{#systolicId}}
        <component typeCode="COMP" contextConductionInd="true">
            <ObservationStatement classCode="OBS" moodCode="EVN">
                <id root="{{systolicId}}"/>
                {{{systolicCode}}}
                <statusCode code="COMPLETE"/>
                <effectiveTime>
                    {{{effectiveTime}}}
                </effectiveTime>
                {{{availabilityTime}}}
                {{#systolicQuantity}}
                {{{systolicQuantity}}}
                {{/systolicQuantity}}
                {{#systolicReferenceRange}}
                {{{systolicReferenceRange}}}
                {{/systolicReferenceRange}}
            </ObservationStatement>
        </component>
        {{/systolicId}}
        {{#diastolicId}}
        <component typeCode="COMP" contextConductionInd="true">
            <ObservationStatement classCode="OBS" moodCode="EVN">
                <id root="{{diastolicId}}"/>
                {{{diastolicCode}}}
                <statusCode code="COMPLETE"/>
                <effectiveTime>
                    {{{effectiveTime}}}
                </effectiveTime>
                {{{availabilityTime}}}
                {{#diastolicQuantity}}
                {{{diastolicQuantity}}}
                {{/diastolicQuantity}}
                {{#diastolicReferenceRange}}
                {{{diastolicReferenceRange}}}
                {{/diastolicReferenceRange}}
            </ObservationStatement>
        </component>
        {{/diastolicId}}
        {{#narrativeId}}
        <component typeCode="COMP" contextConductionInd="true">
            <NarrativeStatement classCode="OBS" moodCode="EVN">
                <id root="{{narrativeId}}"/>
                <text>{{narrativeText}}</text>
                <statusCode code="COMPLETE"/>
                {{{narrativeAvailabilityTime}}}
            </NarrativeStatement>
        </component>
        {{/narrativeId}}
        {{#participant}}
        {{{.}}}
        {{/participant}}
    </CompoundStatement>
</component>