<component typeCode="COMP">
    <NarrativeStatement classCode="OBS" moodCode="EVN">
        <id root="{{narrativeStatementId}}" />
        <statusCode code="COMPLETE" />
        <text>{{{comment}}}</text>
        <availabilityTime value="{{availabilityTime}}"/>
    </NarrativeStatement>
</component>