<component typeCode="COMP" contextConductionInd="true">
    <CompoundStatement classCode="CATEGORY" moodCode="EVN">
        <id root="{{allergyStructureId}}"/>
        <pertinentInformation typeCode="PERT">
            <sequenceNumber value="+1"/>
            <pertinentAnnotation classCode="OBS" moodCode="EVN">
                <text>{{pertinentInformation}}</text>
            </pertinentAnnotation>
        </pertinentInformation>
    </CompoundStatement>
</component>