<component typeCode="COMP">
    <MedicationStatement classCode="SBADM" moodCode="INT">
        <id root="{{medicationStatementId}}"/>
        <statusCode code="{{statusCode}}"/>
        {{#effectiveTime}}
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{/effectiveTime}}
        {{{availabilityTime}}}
        {{#confidentialityCode}}
            {{{confidentialityCode}}}
        {{/confidentialityCode}}
        <consumable typeCode="CSM">
            <manufacturedProduct classCode="MANU">
                <manufacturedMaterial determinerCode="KIND" classCode="MMAT">
                    {{{medicationReferenceCode}}}
                </manufacturedMaterial>
            </manufacturedProduct>
        </consumable>
        <component typeCode="COMP">
            <ehrSupplyAuthorise>
                <id root="{{ehrSupplyId}}"/>
                {{#ehrSupplyTypeCode}}
                {{{ehrSupplyTypeCode}}}
                {{/ehrSupplyTypeCode}}
                {{^ehrSupplyTypeCode}}
                <code code="394823007" displayName="NHS Prescription" codeSystem="2.16.840.1.113883.2.1.3.2.4.15"/>
                {{/ehrSupplyTypeCode}}
                <statusCode code="{{statusCode}}"/>
                {{#effectiveTime}}
                    <effectiveTime>
                        {{{effectiveTime}}}
                    </effectiveTime>
                {{/effectiveTime}}
                {{{availabilityTime}}}
                {{#repeatNumber}}<repeatNumber value="{{repeatNumber}}"/>{{/repeatNumber}}
                <quantity value="{{quantityValue}}" unit="1">
                    <translation value="{{quantityValue}}">
                        <originalText>{{quantityText}}</originalText>
                    </translation>
                </quantity>
                <pertinentInformation typeCode="PERT">
                    <pertinentSupplyAnnotation>
                        <text>{{ehrSupplyPertinentInformation}}</text>
                    </pertinentSupplyAnnotation>
                </pertinentInformation>
            </ehrSupplyAuthorise>
        </component>
        {{#hasEhrSupplyDiscontinue}}
        <component typeCode="COMP">
            <ehrSupplyDiscontinue classCode="SPLY" moodCode="RQO">
                <id root="{{ehrSupplyDiscontinueId}}"/>
                {{#ehrSupplyDiscontinueCode}}{{{ehrSupplyDiscontinueCode}}}{{/ehrSupplyDiscontinueCode}}{{^ehrSupplyDiscontinueCode}}<code nullFlavor="UNK"><originalText>Stopped</originalText></code>{{/ehrSupplyDiscontinueCode}}
                <statusCode code="COMPLETE"/>
                {{{ehrSupplyDiscontinueAvailabilityTime}}}
                <reversalOf typeCode="REV">
                    <priorMedicationRef moodCode="ORD" classCode="SBADM">
                        <id root="{{ehrSupplyId}}"/>
                    </priorMedicationRef>
                </reversalOf>
                <pertinentInformation typeCode="PERT">
                    <pertinentSupplyAnnotation classCode="OBS" moodCode="EVN"{{^ehrSupplyDiscontinueReasonText}} nullFlavor="UNK"{{/ehrSupplyDiscontinueReasonText}}>
                        {{#ehrSupplyDiscontinueReasonText}}<text>{{{ehrSupplyDiscontinueReasonText}}}</text>{{/ehrSupplyDiscontinueReasonText}}{{^ehrSupplyDiscontinueReasonText}}<text>Stopped</text>{{/ehrSupplyDiscontinueReasonText}}
                    </pertinentSupplyAnnotation>
                </pertinentInformation>
            </ehrSupplyDiscontinue>
        </component>
        {{/hasEhrSupplyDiscontinue}}
        <pertinentInformation typeCode="PERT">
            <pertinentMedicationDosage classCode="SBADM" moodCode="RMD">
                <text>{{medicationStatementPertinentInformation}}</text>
            </pertinentMedicationDosage>
        </pertinentInformation>
        {{#participant}}
        {{{.}}}
        {{/participant}}
    </MedicationStatement>
</component>