<part typeCode="PART">
    <Agent classCode="AGNT">
        <id root="{{agentId}}"/>
        <code nullFlavor="UNK">
            <originalText>Unknown</originalText>
        </code>
        <agentPerson classCode="PSN" determinerCode="INSTANCE">
            {{#name}}
            <name>
                <family>{{name}}</family>
            </name>
            {{/name}}
        </agentPerson>
    </Agent>
</part>