<component typeCode="COMP" {{#isNested}}contextConductionInd="true"{{/isNested}}>
    <ObservationStatement classCode="OBS" moodCode="EVN">
        <id root="{{ObservationStatementId}}" />
        {{{code}}}
        <statusCode code="COMPLETE" />
        <effectiveTime>
            {{#effectiveTime}}<center value="{{effectiveTime}}"/>{{/effectiveTime}}{{^effectiveTime}}<center nullFlavor="UNK"/>{{/effectiveTime}}
        </effectiveTime>
        <availabilityTime {{#availabilityTime}}value="{{availabilityTime}}" {{/availabilityTime}}{{^availabilityTime}}nullFlavor="UNK"{{/availabilityTime}} />
        {{#confidentialityCode}}
            {{{confidentialityCode}}}
        {{/confidentialityCode}}
        {{#pertinentInformation}}
        <pertinentInformation typeCode="PERT">
            <sequenceNumber value="+1"/>
            <pertinentAnnotation classCode="OBS" moodCode="EVN">
                <text>{{pertinentInformation}}</text>
            </pertinentAnnotation>
        </pertinentInformation>
        {{/pertinentInformation}}
        {{#participant}}
        {{{.}}}
        {{/participant}}
    </ObservationStatement>
</component>
