<component typeCode="COMP" {{#isNested}}contextConductionInd="true"{{/isNested}}>
    <PlanStatement classCode="OBS" moodCode="INT">
        <id root="{{id}}" />
        <statusCode code="COMPLETE" />
        <effectiveTime>
            <center {{{effectiveTime}}}/>
        </effectiveTime>
        {{#authoredOn}}<availabilityTime value="{{authoredOn}}"/>{{/authoredOn}}
        {{#text}}
            <text>
            {{text}}
            </text>
        {{/text}}
    </PlanStatement>
</component>