<component typeCode="COMP">
    <ehrComposition classCode="COMPOSITION" moodCode="EVN">
        <id root="{{encounterStatementId}}" />
        {{#altCode}}
        {{{altCode}}}
        {{/altCode}}
        {{^altCode}}
        <code code="{{code}}" displayName="{{displayName}}" codeSystem="2.16.840.1.113883.2.1.3.2.4.15">
            {{#originalText}}<originalText>{{originalText}}</originalText>{{/originalText}}
        </code>
        {{/altCode}}
        <statusCode code="{{{status}}}" />
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{availabilityTime}}}
        <author typeCode="AUT" contextControlCode="OP">
            <time value="{{authorTime}}" />
            <agentRef classCode="AGNT">
                <id root="{{author}}" />
            </agentRef>
        </author>
        <location typeCode="LOC">
            <locatedEntity classCode="LOCE">
                <code code="394730007" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Healthcare related organisation" />
                <locatedPlace classCode="PLC" determinerCode="INSTANCE">
                    <name>Branch Surgery Rhing</name>
                </locatedPlace>
            </locatedEntity>
        </location>
        <Participant2 typeCode="RESP" contextControlCode="OP">
            <agentRef classCode="AGNT">
                <id root="{{participant2}}" />
            </agentRef>
        </Participant2>
        {{{components}}}
    </ehrComposition>
</component>