<component typeCode="COMP" {{#isNested}}contextConductionInd="true"{{/isNested}}>
    <RequestStatement classCode="OBS" moodCode="RQO">
        <id root="{{requestStatementId}}" />
        <effectiveTime>
            <center nullFlavor="NI"/>
        </effectiveTime>
        {{{availabilityTime}}}
        {{{defaultReasonCode}}}
        <text>{{description}}</text>
    </RequestStatement>
</component>