<component typeCode="COMP" {{#isNested}}contextConductionInd="true"{{/isNested}}>
    <RequestStatement classCode="OBS" moodCode="RQO">
        <id root="{{requestStatementId}}" />
        {{#code}}
        {{{code}}}
        {{/code}}
        <text>{{text}}</text>
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            <center nullFlavor="NI"/>
        </effectiveTime>
        {{{availabilityTime}}}
        {{#priorityCode}}
        {{{priorityCode}}}
        {{/priorityCode}}
        {{#responsibleParty}}
        <responsibleParty typeCode="RESP">
            <agentRef classCode="AGNT">
                <id root="{{{.}}}"/>
            </agentRef>
        </responsibleParty>
        {{/responsibleParty}}
        {{#participant}}
        {{{.}}}
        {{/participant}}
    </RequestStatement>
</component>