<component typeCode="COMP">
    <CompoundStatement classCode="CATEGORY" moodCode="EVN">
        <id root="{{allergyStructureId}}"/>
        {{{categoryCode}}}
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{availabilityTime}}}
        {{#confidentialityCode}}
            {{{confidentialityCode}}}
        {{/confidentialityCode}}
        <component typeCode="COMP" contextConductionInd="true">
            <ObservationStatement classCode="OBS" moodCode="ENV">
                <id root="{{observationId}}"/>
                {{{code}}}
                <statusCode code="COMPLETE"/>
                <effectiveTime>
                    {{{effectiveTime}}}
                </effectiveTime>
                {{{availabilityTime}}}
                <pertinentInformation typeCode="PERT">
                    <sequenceNumber value="+1"/>
                    <pertinentAnnotation classCode="OBS" moodCode="EVN">
                        <text>{{pertinentInformation}}</text>
                    </pertinentAnnotation>
                </pertinentInformation>
                {{#author}}
                {{{.}}}
                {{/author}}
                {{#performer}}
                {{{.}}}
                {{/performer}}
            </ObservationStatement>
        </component>
    </CompoundStatement>
</component>