<component typeCode="COMP"{{#isNested}} contextConductionInd="true"{{/isNested}}>
    <LinkSet classCode="OBS" moodCode="EVN">
        <id root="{{linkSetId}}" />
        <code code="{{clinicalStatusCode}}" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="{{clinicalStatusDisplay}}">
            <originalText>{{clinicalStatusDisplay}}, {{qualifierDisplay}}</originalText>
            <qualifier inverted="false">
                <name code="{{qualifierCode}}" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="{{qualifierSignificance}}"/>
            </qualifier>
        </code>
        {{{code}}}
        <effectiveTime>
            {{#effectiveTimeLow}}<low value="{{effectiveTimeLow}}"/>{{/effectiveTimeLow}}{{^effectiveTimeLow}}<low nullFlavor="UNK"/>{{/effectiveTimeLow}}
            {{#effectiveTimeHigh}}<high value="{{effectiveTimeHigh}}"/>{{/effectiveTimeHigh}}
        </effectiveTime>
        <availabilityTime value="{{availabilityTime}}" />
        {{#relatedClinicalContent}}
            <component typeCode="COMP">
                <statementRef classCode="OBS" moodCode="EVN">
                    <id root="{{.}}"/>
                </statementRef>
            </component>
        {{/relatedClinicalContent}}
        {{#conditionNamed}}
        <conditionNamed typeCode="NAME" inversionInd="true">
            <namedStatementRef classCode="OBS" moodCode="EVN">
                <id root="{{conditionNamed}}"/>
            </namedStatementRef>
        </conditionNamed>
        {{/conditionNamed}}
        {{#performer}}
        {{{.}}}
        {{/performer}}
    </LinkSet>
</component>
{{#generateObservationStatement}}<component typeCode="COMP"{{#isNested}} contextConductionInd="true"{{/isNested}}>
    <ObservationStatement classCode="OBS" moodCode="EVN">
        <id root="{{conditionNamed}}"/>
        <code><!--code placeholder--></code>
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            {{#effectiveTimeLow}}<low value="{{effectiveTimeLow}}"/>{{/effectiveTimeLow}}{{^effectiveTimeLow}}<low nullFlavor="UNK"/>{{/effectiveTimeLow}}
            {{#effectiveTimeHigh}}<high value="{{effectiveTimeHigh}}"/>{{/effectiveTimeHigh}}
        </effectiveTime>
        <availabilityTime value="{{availabilityTime}}" />
        {{#pertinentInfo}}
        <pertinentInformation typeCode="PERT">
            <sequenceNumber value="+1" />
            <pertinentAnnotation classCode="OBS" moodCode="EVN">
                <text>{{pertinentInfo}}</text>
            </pertinentAnnotation>
        </pertinentInformation>
        {{/pertinentInfo}}  </ObservationStatement>
</component>{{/generateObservationStatement}}
