<part typeCode="PART">
    <Agent classCode="AGNT">
        <id root="{{agentId}}" />
        <agentOrganization determinerCode="INSTANCE" classCode="ORG">
            {{{organisationInfo}}}
        </agentOrganization>
    </Agent>
</part>