<responsibleParty typeCode="RESP">
    <agentDirectory classCode="AGNT">
        {{{patientManagingOrganization}}}
        {{#observationOrganizations}}
            {{{.}}}
        {{/observationOrganizations}}
        {{#referralRequestsOrganizations}}
            {{{.}}}
        {{/referralRequestsOrganizations}}
        {{#agentPersons}}
            {{{.}}}
        {{/agentPersons}}
    </agentDirectory>
</responsibleParty>