<part typeCode="PART">
    <Agent classCode="AGNT">
        <id root="{{agentId}}" />
        <agentOrganization determinerCode="INSTANCE" classCode="ORG">
            {{#agentExtensionId}}
            <id extension="{{agentExtensionId}}" root="2.16.840.1.113883.2.1.4.3"/>
            {{/agentExtensionId}}
            {{#agentName}}
            <name>{{agentName}}</name>
            {{/agentName}}
            {{#telecomValue}}
            <telecom value="{{telecomValue}}" use="WP"/>
            {{/telecomValue}}
            {{#addressPresent}}
            <addr{{#addressUse}} use="{{addressUse}}"{{/addressUse}}>
            {{#addressLine}}
                <streetAddressLine>{{.}}</streetAddressLine>
            {{/addressLine}}
                {{#postalCode}}
                <postalCode>{{postalCode}}</postalCode>
                {{/postalCode}}
            </addr>
            {{/addressPresent}}
        </agentOrganization>
    </Agent>
</part>