<part partCode="PART">
    <Agent classCode="AGNT">
        <id root="{{practitionerId}}"/>
        {{#practitionerRole}}
        <code nullFlavor="UNK">
            <originalText>{{practitionerRole}}</originalText>
        </code>
        {{/practitionerRole}}
        <agentPerson classCode="PSN" determinerCode="INSTANCE">
            <name>
                {{#practitionerPrefix}}
                <prefix>{{practitionerPrefix}}</prefix>
                {{/practitionerPrefix}}
                {{#practitionerGivenName}}
                <given>{{practitionerGivenName}}</given>
                {{/practitionerGivenName}}
                {{#practitionerFamilyName}}
                <family>{{practitionerFamilyName}}</family>
                {{/practitionerFamilyName}}
            </name>
        </agentPerson>
        {{#organization}}
        <representedOrganization classCode="ORG" determinerCode="INSTANCE">
{{{organization}}}
        </representedOrganization>
        {{/organization}}
    </Agent>
</part>