<responsibleParty>
    <agentDirectory>
        {{{patientManagingOrganization}}}
        {{#observationOrganizations}}
            {{{.}}}
        {{/observationOrganizations}}
        {{#referralRequestsOrganizations}}
            {{{.}}}
        {{/referralRequestsOrganizations}}
        {{#agentPersons}}
            {{{.}}}
        {{/agentPersons}}
    </agentDirectory>
</responsibleParty>