<part typeCode="PART">
    <Agent classCode="AGNT">
        <id root="{{agentId}}" />
        <agentOrganization determinerCode="INSTANCE" classCode="ORG">
            {{#agentExtensionId}}
            <id extension="{{agentExtensionId}}"/>
            {{/agentExtensionId}}
            <name>{{agentName}}</name>
            {{#telecomValue}}
            <telecom value="{{telecomValue}}" use="WP"/>
            {{/telecomValue}}
            {{#addressPresent}}
            <addr{{#addressUse}} use="{{addressUse}}"{{/addressUse}}>
            {{#addressLine}}
                <streetAddressLine>{{.}}</streetAddressLine>
            {{/addressLine}}
                {{#postalCode}}
                <postalCode>{{postalCode}}</postalCode>
                {{/postalCode}}
            </addr>
            {{/addressPresent}}
        </agentOrganization>
    </Agent>
</part>