<component typeCode="COMP">
    <MedicationStatement classCode="SBADM" moodCode="ORD">
        <id root="{{medicationStatementId}}"/>
        <statusCode code="{{statusCode}}"/>
        {{#effectiveTime}}
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{/effectiveTime}}
        {{{availabilityTime}}}
        {{#confidentialityCode}}
            {{{confidentialityCode}}}
        {{/confidentialityCode}}
        <consumable typeCode="CSM">
            <manufacturedProduct classCode="MANU">
                <manufacturedMaterial determinerCode="KIND" classCode="MMAT">
                    {{{medicationReferenceCode}}}
                </manufacturedMaterial>
            </manufacturedProduct>
        </consumable>
        <component typeCode="COMP">
            <ehrSupplyPrescribe>
                <id root="{{ehrSupplyId}}"/>
                {{#ehrSupplyTypeCode}}
                {{{ehrSupplyTypeCode}}}
                {{/ehrSupplyTypeCode}}
                {{^ehrSupplyTypeCode}}
                <code code="394823007" displayName="NHS Prescription" codeSystem="2.16.840.1.113883.2.1.3.2.4.15"/>
                {{/ehrSupplyTypeCode}}
                <statusCode code="{{statusCode}}"/>
                {{{availabilityTime}}}
                <quantity value="{{quantityValue}}" unit="1">
                    <translation value="{{quantityValue}}">
                        <originalText>{{quantityText}}</originalText>
                    </translation>
                </quantity>
                {{{basedOn}}}
                <pertinentInformation typeCode="PERT">
                    <pertinentSupplyAnnotation>
                        <text>{{ehrSupplyPertinentInformation}}</text>
                    </pertinentSupplyAnnotation>
                </pertinentInformation>
            </ehrSupplyPrescribe>
        </component>
        <pertinentInformation typeCode="PERT">
            <pertinentMedicationDosage classCode="SBADM" moodCode="RMD">
                <text>{{medicationStatementPertinentInformation}}</text>
            </pertinentMedicationDosage>
        </pertinentInformation>
        {{#participant}}
        {{{.}}}
        {{/participant}}
    </MedicationStatement>
</component>