<component typeCode="COMP"{{#isNested}} contextConductionInd="true"{{/isNested}}>
    <CompoundStatement classCode="BATTERY" moodCode="EVN">
        <id root="{{id}}"/>
        <!--<code code="{{code}}" codeSystem="{{codeSystem}}" displayName="{{codeDisplay}}">-->
        <!--</code>-->
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{availabilityTime}}}
        {{#systolicId}}
        <component typeCode="COMP" contextConductionInd="true">
            <ObservationStatement classCode="OBS" moodCode="EVN">
                <id root="{{systolicId}}"/>
                <!--<code code="{{systolicCode}}" codeSystem="{{systolicCodeSystem}}" displayName="{{systolicCodeDisplay}}">-->
                <!--</code>-->
                <statusCode code="COMPLETE"/>
                <effectiveTime>
                    {{{effectiveTime}}}
                </effectiveTime>
                {{{availabilityTime}}}
                {{#systolicQuantity}}
                <valueQuantity>{{{systolicQuantity}}}</valueQuantity>
                {{/systolicQuantity}}
                <!--<referenceRange/>-->
            </ObservationStatement>
        </component>
        {{/systolicId}}
        {{#diastolicId}}
        <component typeCode="COMP" contextConductionInd="true">
            <ObservationStatement classCode="OBS" moodCode="EVN">
                <id root="{{diastolicId}}"/>
                <!--<code code="{{diastolicCode}}" codeSystem="{{diastolicCodeSystem}}" displayName="{{diastolicCodeDisplay}}">-->
                <!--</code>-->
                <statusCode code="COMPLETE"/>
                <effectiveTime>
                    {{{effectiveTime}}}
                </effectiveTime>
                {{{availabilityTime}}}
                {{#diastolicQuantity}}
                <valueQuantity>{{{diastolicQuantity}}}</valueQuantity>
                {{/diastolicQuantity}}
                <!--<referenceRange/>-->
            </ObservationStatement>
        </component>
        {{/diastolicId}}
        {{#narrativeId}}
        <component typeCode="COMP" contextConductionInd="true">
            <NarrativeStatement classCode="OBS" moodCode="EVN">
                <id root="{{narrativeId}}"/>
                <text>{{narrativeText}}</text>
                <statusCode code="COMPLETE"/>
                {{{narrativeAvailabilityTime}}}
            </NarrativeStatement>
        </component>
        {{/narrativeId}}
        <!--<Participant typeCode="PRF" ..../>-->
    </CompoundStatement>
</component>