        {{#agentName}}
            <name>{{agentName}}</name>
        {{/agentName}}
        {{#telecomValue}}
            <telecom value="{{telecomValue}}" use="WP"/>
        {{/telecomValue}}
        {{#addressPresent}}
            <addr{{#addressUse}} use="{{addressUse}}"{{/addressUse}}>
                {{#addressLine}}
                <streetAddressLine>{{.}}</streetAddressLine>
                {{/addressLine}}
                {{#postalCode}}
                <postalCode>{{postalCode}}</postalCode>
                {{/postalCode}}
            </addr>{{/addressPresent}}