{
    "iss": "http://gpconnect-postman-url",
    "sub": "1",
    "aud": "{{targetURI}}",
    "exp": {{jwtExpiryTime}},
    "iat": {{jwtCreationTime}},
    "reason_for_request": "migration",
    "requested_scope": "patient/*.read conf/R",
    "requesting_device": {
        "resourceType": "Device",
        "id": "1",
        "identifier": [
            {
                "system": "Web Interface",
                "value": "Postman example consumer"
            }
        ],
        "model": "Postman",
        "version": "1.0"
    },
    "requesting_organization": {
        "resourceType": "Organization",
        "identifier": [
            {
                "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                "value": "{{requestingOrganizationODSCode}}"
            }
        ],
        "name": "N/A"
    }
}