<component typeCode="COMP" contextConductionInd="true">
    <NarrativeStatement classCode="OBS" moodCode="EVN">
        <id root="{{narrativeStatementId}}"/>
        <text mediaType="text/x-h7uk-pmip">CommentType:{{commentType}}
{{#commentDate}}
CommentDate:{{{.}}}
{{/commentDate}}

{{comment}}</text>
        <statusCode code="COMPLETE"/>
        {{{availabilityTimeElement}}}
        {{#confidentialityCode}}
            {{{confidentialityCode}}}
        {{/confidentialityCode}}
        {{#participant}}
            {{{.}}}
        {{/participant}}
    </NarrativeStatement>
</component>