<component typeCode="COMP" contextConductionInd="true">
    <CompoundStatement classCode="{{{classCode}}}" moodCode="EVN">
        <id root="{{compoundStatementId}}"/>
        {{{codeElement}}}
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{availabilityTimeElement}}}
        {{#observationStatement}}
            {{{.}}}
        {{/observationStatement}}
        {{#narrativeStatement}}
            {{{.}}}
        {{/narrativeStatement}}
        {{#statementsForDerivedObservations}}
            {{{.}}}
        {{/statementsForDerivedObservations}}
    </CompoundStatement>
</component>