<component typeCode="COMP" contextConductionInd="true">
    <CompoundStatement classCode="CLUSTER" moodCode="EVN">
        <id root="{{compoundStatementId}}"/>
        {{{codeElement}}}
        <statusCode code="COMPLETE"/>
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{availabilityTimeElement}}}
        {{{observationStatement}}}
        {{#narrativeStatements}}
            {{{.}}}
        {{/narrativeStatements}}
    </CompoundStatement>
</component>