<component typeCode="COMP" contextConductionInd="true">
    <NarrativeStatement classCode="OBS" moodCode="EVN">
        <id root="{{narrativeStatementId}}"/>
        <text mediaType="text/x-h7uk-pmip">CommentType:{{commentType}}
            CommentDate:{{issuedDate}}

            {{comment}}</text>
        <statusCode code="COMPLETE"/>
        {{{availabilityTime}}}
        {{#participant}}
            {{{.}}}
        {{/participant}}
    </NarrativeStatement>
</component>
