<component typeCode="COMP" {{#isNested}}contextConductionInd="true"{{/isNested}}>
    <ObservationStatement classCode="OBS" moodCode="EVN">
        <id root="{{observationStatementId}}" />
        {{{code}}}
        <statusCode code="COMPLETE" />
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        {{{issued}}}
        {{{value}}}
        {{{interpretation}}}
        <pertinentInformation typeCode="PERT">
            <sequenceNumber value="+1" />
            <pertinentAnnotation classCode="OBS" moodCode="EVN">
                <text>{{comment}}</text>
            </pertinentAnnotation>
        </pertinentInformation>
        {{{referenceRange}}}
        {{#participant}}
        {{{.}}}
        {{/participant}}
    </ObservationStatement>
</component>