<component typeCode="COMP" {{#isNested}}contextConductionInd="true"{{/isNested}}>
    <ObservationStatement classCode="OBS" moodCode="EVN">
        <id root="{{observationStatementId}}" />
        <statusCode code="COMPLETE" />
        <effectiveTime>
            {{{effectiveTime}}}
        </effectiveTime>
        <availabilityTime value="{{issued}}"/>
        {{{value}}}
        <pertinentInformation typeCode="PERT">
            <sequenceNumber value="+1" />
            <pertinentAnnotation classCode="OBS" moodCode="EVN">
                <text>{{comment}}</text>
            </pertinentAnnotation>
        </pertinentInformation>
        {{{referenceRange}}}
        {{{code}}}
    </ObservationStatement>
</component>